body {
    background-color: rgb(68, 170, 196);
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
header {    
    padding: 15px 15px 70px 15px; /* shorthand voor top, right, bottom, left */
    background-color: white;
    border-radius: 15px;
}
#hobbyWebsiteLogo
{
    float:left;
}
nav {
    float:left;
    padding:10px 20px 10px 20px;
    background:pink;
}
nav a {
    text-decoration:none;
    padding:0px 20px 0px 20px;
    color:white;
}
section{
    margin-top:20px;
    border-radius: 15px;
    background-color: white;
}
aside{
    border: 15px solid pink;
    width: 20%;
    float: right;
    min-height: 550px;
    background-color: pink;
}

article{
    float: left;
    width: 100%;
    background-color: white;
    border-radius: 15px;
}
h1{
    text-align: justify;
}